USER_SERVICE_MONGO_HOST=
USER_SERVICE_MONGO_PORT=
USER_SERVICE_MONGO_USERNAME=
USER_SERVICE_MONGO_PASSWORD=
USER_SERVICE_MONGO_NAME=

USER_SERVICE_REDIS_HOST=
USER_SERVICE_REDIS_PORT=
USER_SERVICE_REDIS_DB=

USER_SERVICE_REGISTER_SECRET_KEY=
USER_SERVICE_REGISTER_ALGORITHM=

USER_SERVICE_KAFKA_BOOTSTRAP_SERVERS=
USER_SERVICE_KAFKA_TOPIC_USER_REGISTERED=
USER_SERVICE_KAFKA_TOPIC_USER_PROFILE_UPDATED=

TASK_SERVICE_MONGO_HOST=
TASK_SERVICE_MONGO_PORT=
TASK_SERVICE_MONGO_USERNAME=
TASK_SERVICE_MONGO_PASSWORD=
TASK_SERVICE_MONGO_NAME=

TASK_SERVICE_REDIS_HOST=
TASK_SERVICE_REDIS_PORT=
TASK_SERVICE_REDIS_DB=

TASK_SERVICE_TOKEN_SECRET_KEY=
TASK_SERVICE_TOKEN_ALGORITHM=

TASK_SERVICE_KAFKA_BOOTSTRAP_SERVERS=
TASK_SERVICE_KAFKA_TOPIC_USER_REGISTERED=
TASK_SERVICE_KAFKA_TOPIC_USER_PROFILE_UPDATED=
TASK_SERVICE_KAFKA_TOPIC_TASK_CREATED=
TASK_SERVICE_KAFKA_TOPIC_TASK_STATUS_UPDATED=
TASK_SERVICE_SUBMISSION_URL=
TASK_SERVICE_USER_URL=
TASK_SERVICE_AGENT_URL=
TASK_SERVICE_AGENT_TOKEN=
AGENT_SERVICE_CAREER_TOKEN=
AGENT_SERVICE_SUBMISSION_URL=
AGENT_SERVICE_SUBMISSION_TIMEOUT_SEC=

AGENT_SERVICE_TOKEN_SECRET_KEY=
AGENT_SERVICE_TOKEN_ALGORITHM=
AGENT_SERVICE_TOKEN_ALLOW_DEV_AUTH=

SUBMISSION_SERVICE_KAFKA_BOOTSTRAP_SERVERS=
SUBMISSION_SERVICE_KAFKA_TOPIC_SUBMISSION_CREATED=
SUBMISSION_SERVICE_KAFKA_TOPIC_SUBMISSION_REVIEW_COMPLETED=
SUBMISSION_SERVICE_KAFKA_TOPIC_TASK_CREATED=
SUBMISSION_SERVICE_KAFKA_TOPIC_TASK_STATUS_UPDATED=

SUBMISSION_SERVICE_MONGO_HOST=
SUBMISSION_SERVICE_MONGO_PORT=
SUBMISSION_SERVICE_MONGO_USERNAME=
SUBMISSION_SERVICE_MONGO_PASSWORD=
SUBMISSION_SERVICE_MONGO_NAME=

SUBMISSION_SERVICE_TOKEN_SECRET_KEY=
SUBMISSION_SERVICE_TOKEN_ALGORITHM=

API_GATEWAY_SETTINGS_USER_SERVICE_URL=
API_GATEWAY_SETTINGS_TASK_SERVICE_URL=
API_GATEWAY_SETTINGS_SUBMISSION_SERVICE_URL=
API_GATEWAY_SETTINGS_AGENT_SERVICE_URL=

AGENT_SERVICE_MONGO_HOST=
AGENT_SERVICE_MONGO_PORT=
AGENT_SERVICE_MONGO_USERNAME=
AGENT_SERVICE_MONGO_PASSWORD=
AGENT_SERVICE_MONGO_NAME=

AGENT_SERVICE_REDIS_HOST=
AGENT_SERVICE_REDIS_PORT=
AGENT_SERVICE_REDIS_DB=
AGENT_SERVICE_REDIS_RETRIEVE_CACHE_TTL_SEC=
AGENT_SERVICE_REDIS_CHECKPOINT_TTL_SEC=
AGENT_SERVICE_REDIS_PASSWORD=

AGENT_SERVICE_KAFKA_BOOTSTRAP_SERVERS=
AGENT_SERVICE_KAFKA_TOPIC_SUBMISSION_CREATED=
AGENT_SERVICE_KAFKA_TOPIC_SUBMISSION_REVIEWED=
AGENT_SERVICE_KAFKA_SUBMISSION_REVIEW_CONSUMER_GROUP_ID=

AGENT_SERVICE_OPENAI_API_KEY=
AGENT_SERVICE_OPENAI_BASE_URL=
AGENT_SERVICE_OPENAI_MODEL=
AGENT_SERVICE_OPENAI_REASONING_EFFORT=
AGENT_SERVICE_OPENAI_EMBEDDING_MODEL=
AGENT_SERVICE_OPENAI_EMBEDDING_BASE_URL=
AGENT_SERVICE_OPENAI_EMBEDDING_API_KEY=

AGENT_SERVICE_MEMORY_EMBEDDING_BACKEND=
AGENT_SERVICE_MEMORY_PERSIST_DIR=
AGENT_SERVICE_MEMORY_MAX_RETRIEVE_TOP_K=

AGENT_SERVICE_LANGFUSE_ENABLED=
AGENT_SERVICE_LANGFUSE_PUBLIC_KEY=
AGENT_SERVICE_LANGFUSE_SECRET_KEY=
AGENT_SERVICE_LANGFUSE_HOST=
AGENT_SERVICE_LANGFUSE_ENVIRONMENT=

METRICS_BACKEND=
ALERTS_ENABLED=
ALERT_ERROR_COUNT_THRESHOLD=
ALERT_LATENCY_SECONDS_THRESHOLD=
API_GATEWAY_SETTINGS_RATE_LIMIT_REDIS_URL=
